body {
  font-family: Arial;
  text-align: center;
  background: #f5f5f5;
}

button {
  margin: 10px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

pre {
  background: white;
  padding: 15px;
  width: 80%;
  margin: auto;
  text-align: left;
}
